#ignore all RPI Pico build directories and files contained within
**/build/
#ignore all RPI Pico cmake files
**/*.cmake
**/CMakeLists.txt
#ignore all VS Code metadata
**/.vscode
#ignore all MATLAB autosave files
**/*.asv
#ignore all EAGLE build files
**/CAMoutputs*
**/DRV8876_Breakout.b#*
**/DRV8876_Breakout.s#*
**/eagle.epf
